/* ====================PADÃO DE AGRUPAMENTO==================== */
/*      border: 1px solid black;
        margin: 0;
        padding: 0;

        width: 100%;
        height: 10%;

        display: flex; 
        justify-content: center;
        align-items: center; 
        flex-direction: row;

        background: white;
        box-shadow: 0px 7px 7px 2px black;

        color: black;
        font-family: "lato",sans-serif;
        font-size: 20px;
        text-decoration: none;
        text-shadow: -4px 4px 4px #00000060;

        line-height: 90px;
        cursor: pointer;
        transition: 0.5s;
        */
/* ====================SEQUENCIA DE CLASSES==================== */
/* .SEMANTICA(HEADER,SECTION,FOOTER)
        .CONTAINER
            .CONTENT
                .DEMAIS CONTEÚDOS
                */
/* =========================================================== */
*{
    /* border: 1px solid rgba(255, 0, 0, 0.342); */
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* ====================HEADER==================== */
.header{
    margin: 0;
    padding: 0;
    }
    .headerContainerInf{
        /* border: 1px solid rgba(255, 0, 0, 0.342); */
        margin: 0;
        padding: 0.5% 3% 0.5% 3%;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        font-family: "lato",sans-serif;
        /* padding: 7px 40px 7px 40px; */
    }
        .headerContentContact{
            border: 1px solid rgba(0, 128, 0, 0);
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            color: black;
            text-decoration: none;
            transition: 0.5s;
        }
        .headerContentContact:hover{
            border-bottom: 1px solid rgba(0, 0, 0, 0.801);
            border-radius: 1px;
        }
        .headerIconWpp{
            padding: 0px;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        .headerContact{
            padding: 5px;
            cursor: pointer;
        }
    .headerContainerMenu{
        /* border: 2px solid rgb(38, 0, 255); */
        background-image: url(./imagens/modelo1.jpg);
        background-repeat: no-repeat;
        background-color:white;
        background-size: 100% 150%;
        box-shadow: 0px 7px 7px 2px rgba(0, 0, 0, 0.199);
    }
        .headerContentMenu{
            /* border: 2px solid rgb(38, 0, 255); */
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6));
            box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
            font-family: "lato",sans-serif;
            transition: 0.4s;
        }
        .headerContentMenu:hover{
            opacity: 1;
            box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.4);
        }
            .headerLogo{
                width: 160px;
                height: 160px;
                cursor: pointer;
            }
            .headerBtn{
                border: 0px solid transparent;
                background-color: transparent;
                color: rgba(0, 0, 0, 0.63);
                font-family: "lato",sans-serif;
                font-size: 20px;
                cursor: pointer;
                transition: 0.2s;
            }
            .headerBtn:hover{
                color: black;
                font-size: 20px;
            }
            .home{
                border-bottom: 3px solid rgba(0, 0, 0, 0.6);
                border-radius: 3px;
                padding: 5px;
                line-height: 90px;
            }
            .serv{
                padding: 5px;
                line-height: 90px;
                border-bottom: 3px solid rgba(0, 0, 0, 0);
            }
        .headerAdContent{
            padding: 30px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
        }
            .headerAd{
                padding: 80px 90px 0px 0px;
                width: 350px;
                height: 300px;
                color: rgba(0, 0, 0, 0.733);
                font-family: "Orelo",sans-serif;
                font-size: 45px;
                text-align: left;
                text-shadow: -4px 4px 4px #00000060;
                cursor: pointer;
                transition: 1s;
            }
            .headerAd:hover{
                text-shadow: 5px 5px 5px #00000060;
            }
/* ====================SECTION==================== */
.section{
    border: 0;
}
    .secContainerSchedule{
        border: 0;
        }
        .secScheduleContent{
            padding: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }
            .secScheduleParagraph{
                width: 50%;
                color: black;
                font-family: 'lato', sans-serif;
                font-size: 28px;
                text-decoration: none
            }
            .secScheduleIcon{
                border: 0px solid transparent;
                border-radius: 100px;
                width: 90px;
                height: 90px;
                box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.4);
                transition: 1s;
            }
            .secScheduleIcon:hover{
                width: 100px;
                height: 100px;
                box-shadow: -2px 6px 8px 2px rgba(0, 0, 0, 0.4);
            }
    .secContainerImgOne{
        border: 0px solid transparent;
        border-radius: 40px 40px 40px 1px;
        margin-top: 0px;
        margin-left: 120px;
        width: 80%;
        height: 323px;
        display: flex;
        justify-content: end;
        align-items: center;
        background-image: url(./imagens/cachosBack.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.4);
        transition: 2s;
    }
    .secContainerImgOne:hover{
        width: 81%;
    }
        .secImgOneParagraph{
            padding: 50px;
            color: rgba(0, 0, 0, 0.651);
            font-family: "Orelo",sans-serif;
            font-size: 42px;
            text-align: end;
            text-shadow: -3px 3px 4px #00000060;
        }
    .secContainerImgTwo{
        border: 0px solid transparent;
        border-radius: 40px 40px 40px 1px;
        margin-top: 120px;
        margin-left: 120px;
        margin-bottom: 120px;
        width: 80%;
        height: 323px;
        display: flex;
        justify-content: start;
        align-items: center;
        background-image: url(./imagens/modelos.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.4);
        transition: 2s;
    }
    .secContainerImgTwo:hover{
        width: 81%;
    }

        .secImgTwoParagraph{
            padding: 50px;
            color: rgba(0, 0, 0, 0.651);
            font-family: "Orelo",sans-serif;
            font-size: 42px;
            text-align: start;
            text-shadow: -3px 3px 4px #00000060;
        }
/* ====================FOOTER==================== */
.footer{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: pink;
    box-shadow: 0px -7px 7px 2px rgba(0, 0, 0, 0.199);
}
    .footContainerTitle{
        padding: 20px;
        display: flex;
        justify-content: center;
        color: rgba(0, 0, 0, 0.7);
        font-family: 'lato',sans-serif;
        font-size: 30px;
        font-weight: 700;
    }
        .footContentTitle{
            border: 0;
        }
            .foottitle{
                border: 0;
            }
    .footContainerContact{
        /* border: 2px solid blue; */
        padding: 2% 5% 5% 5%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
        .footContentEmail{
            border: 0;
        }  
            .footEmail{
                color: rgba(0, 0, 0, 0.7);
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
            }
    .footContentNetwork{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }
        .footFollow{
            color: rgba(0, 0, 0, 0.7);
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
        }
        .footIcons{
            border: 0;
        }
            .iconInsta{
                width: 30px;
                height: 30px;
            }
            .iconFace{
                width: 26px;
                height: 26px;
            }
/* RESPONSIVIDADE 1024PX */
@media (max-width: 1320px){
    .imgBack{
        width: 100%;
        height: 500px;
        background-image: url(./imagens/modelo1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
    }
    .escovaContent{
        padding: 0%;
        margin: 0%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
        width: 100%;
        height: 190px;
    }
    .escova{
        padding: 0%;
        margin-right: 50px;
        width: 40%;
        height: 100%;
        color: rgba(0, 0, 0, 0.712);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        font-size: 30px;
    }
   
}
/* RESPONSIVIDADE 800PX */
@media (max-width: 800px){
    .headerInf{
        width: 100%;
        height: 30px;
        padding: 6px 7px 6px 7px;
    }
    .headerEnd{
        font-size: 11px;
        display: flex;
        flex-direction: column;
    }
    .iconWpp{
        width: 12px;
        height: 12px;
    }
    .cont{
        font-size: 14px;
    }
    .headerMain{
        height: 80px;
    }
    .imgBack{
        width: 100%;
        height: 250px;
        background-image: url(./imagens/modelo1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
    }
    .headerBtn{
        font-size: 18px;
        line-height: 70px;
    }
    .headerLogo{
        width: 100px;
        height: 80px;
    }
    .escovaContent{
        padding: 0%;
        margin: 0%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
        width: 100%;
        height: 190px;
    }
    .escova{
        padding: 0%;
        margin: 0%;
        width: 50%;
        height: 100px;
        color: rgba(0, 0, 0, 0.712);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        text-align: center;
    }
    i{
        font-size: 18px;
    }
    .agendaContent{
        display: flex;
        flex-direction: column;
    }
    .agendaP{
        text-align: center;
        width: 90%;
        font-size: 18px;
    }
    .agendaI{
        margin: 5px;
        width: 80px;
        height: 80px;
    }
    /* 800px footer footer footer footer footer footer footer */
    .footer{
        width: 100%;
        height: 250px;
    }
    .footerH1Container{
        width: 100%;
        font-size: 20px;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .footerContent2{
        padding: 0%;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }
    .footerContact{
        padding: 0%;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
}

/* RESPONSIVIDADE 320px */
@media (max-width: 320px){
    .headerInf{
        width: 100%;
        height: 30px;
        padding: 6px 7px 6px 7px;
    }
    .headerEnd{
        font-size: 11px;
        display: flex;
        flex-direction: column;
    }
    .iconWpp{
        width: 12px;
        height: 12px;
    }
    .cont{
        font-size: 11px;
    }
    .headerMain{
        height: 80px;
    }
    .headerContainerMenu{
        /* display: flex; */
        background-image: url(./imagens/modelo1.jpg);
        background-repeat: no-repeat;
        background-position: start;
        background-size: 100%;
    }
    .headerBtn{
        font-size: 18px;
        line-height: 70px;
    }
    .headerLogo{
        width: 100px;
        height: 80px;
    }
    .escovaContent{
        padding: 0%;
        margin: 0%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
        width: 100%;
        height: 190px;
    }
    .escova{
        padding: 0%;
        margin: 0%;
        width: 50%;
        height: 100px;
        color: rgba(0, 0, 0, 0.712);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        text-align: center;
    }
    i{
        font-size: 18px;
    }
    .agendaContent{
        display: flex;
        flex-direction: column;
    }
    .agendaP{
        text-align: center;
        width: 90%;
        font-size: 18px;
    }
    .agendaI{
        margin: 5px;
        width: 80px;
        height: 80px;
    }
    /* 320px footer footer footer footer footer footer footer */
    .footer{
        width: 100%;
        height: 250px;
    }
    .footerH1Container{
        width: 100%;
        font-size: 20px;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .footerContent2{
        padding: 0%;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }
    .footerContact{
        padding: 0%;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
}